<style>
    *{
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
    }

    #form{
        width: 90%;
        padding: 2rem;
        margin: auto;
        background-color: white;
        box-shadow: 2px 2px 8px 5px gray;
        border-radius: 0.5rem;
    }
    #form ul{
        list-style: none;
    }
    #form ul li{
        margin: 1rem;
    }
    i{
        color: red;
    }
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"crossorigin="anonymous">

<form class="form-group" id="form" action="/api/create" method="POST" class="tab" enctype="multipart/form-data">
    <ul class="form-list">
        <li class="form-itmes">
            <label for="name">Name:<i>*</i></label>
            <input required class="form-control" name="name" type="text" placeholder="Name" value="{{data.name}}">
        </li>
        <li class="form-itmes">
            <label for="description">Description:<i>*</i></label>
            <input required class="form-control" name="description" type="textarea" placeholder="Decribe your brand" value="{{data.description}}">
        </li>
        <li class="form-itmes">
            <label for="brand_url">brand Url:<i>*</i></label>
            <input required class="form-control" name="brand_url" type="textarea" placeholder="brand url" value="{{data.brand_url}}">
        </li>
        <li class="form-items">
            <input id="file" required type="file" accept="Image/*" name="image" value="{{data.image_file}}">
        </li>
        <button id="add-user" class="btn btn btn-info ml-3 " style="width:100px ;" type="submit">Save</button>
        <button id="cancel-btn" class="btn btn btn-info ml-3 " style="width:100px ;" type="submit">Cancel
        </button>
    </ul>
</form>