*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(197, 196, 196, 0.498);
}

.container{
    width: 23%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 2px 2px 20px 8px rgba(87, 87, 94, 0.63);

}

h5{
    color: gray;
    font-weight: bold;
    font-style: oblique;
    margin: 15px;
}

button{
    cursor: pointer;
    font-size: small;
    font-weight: bold;
    color: white;
    width: 100%;
    background-color: rgb(29, 88, 171);
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
}

h1{
    color: gray;
    margin: 20px;
}

.heading{
    font-style: normal;
    color: black;
}

a{
    font-size: small;
    font-weight: 400;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

input{
    width: 90%;
    border: 1px solid gray;
    padding: 8px;
    border-bottom-right-radius: 10px;
}

.inpfields{
    display: flex;
    width: 100%;
    margin: 7px;
}

input:focus{
    outline-style: none;
    font-weight: bold;
    border: 2px solid gray;
}

.icons{
    
    line-height: 2rem;
    font-size: 23px;
    padding: 4px;
    width: 10%;
    background-color: rgb(62, 116, 186);
    color: white;
    text-align: center;
}