
<style>
    *{
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
    }
    #form ul{
        list-style: none;
    }
    #form ul li{
        margin: 1rem;
    }
    i{
        color: red;
    }
    .validate{
        font-size: 15px;
        color: red;
    }

</style>

        <!-- form -->
        <div class="container">
    <div class="row">

        <div class="col-md-8">
            <div class="form-inside">
                <div class="form-head">
                    <div class="section-head text-center">
                        <h4 class="sm-title fs-1 ">
                            Add Influencer
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="contact-form pt-4">

                        <form class="form-group" action="/api/insert" id="addinfluencer" method="POST" class="tab" enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="form-group">
                                      <label>Name:<i>*</i></label>
                                 <input  class="form-control" name="name" type="text" placeholder="Name">
                                 <label  id="name-error" class="error validate" for="name" ></label>
                                </div>
                                <div class="form-group">
                                      <label >Description:<i>*</i></label>
                                    <input  class="form-control" name="description" type="textarea"
                                        placeholder="Decribe your brand">
                                       <label id="description-error" class="error validate" for="description" ></label>
                                </div>
                                <div class="form-group">
                                      <label >Image:<i>* </i> 
                                      <input id="file" type="file" accept="Image/*" name="image" onchange="loadFile(event)"></label>
                                       <span>H:426px W:640px</span>
                                </div>
                                <div class="form-group d-flex align-items-center">
                                    <span for="Active">Active</span><br>
                                    <input type="radio" id="Active" name="status" value="Active" class="mx-2">
                                    <span for="Inactive">Inactive</span><br>
                                    <input type="radio" id="Inactive" name="status" value="Inactive" class="mx-2">
                                </div>
                                <button id="add-user" class="btn btn btn-info ml-3 " style="width:100px ;"
                                    type="submit">Save</button>
                                <button id="cancelBtn" class="btn btn btn-info ml-3 " style="width:100px ;">Cancel
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img id="output" class="img-fluid img-thumbnail" src="/static/images/default.jpg"  />
        </div>
    </div>
</div>





    
 <script>
        var loadFile = function(event) {
              var output = document.getElementById('output');
              output.src = URL.createObjectURL(event.target.files[0]);
              output.onload = function() {
                URL.revokeObjectURL(output.src) // free memory
              }
            };


            
    $('#addinfluencer').validate({
        rules: {
            name: {
                required: true,
                maxlength: 50
            },
            description: {
                required:true,
                maxlength: 100,

            },
        
          
        },
        messages: {
            name: {
                required: 'Name is required',
                maxlength: 'Maximum length is 50'
            },
            description: {
                required:'Description is required',
                maxlength: 'Maximum length is 100'
            },
     
           
        }
    });

       $("#cancelBtn").click(function () {
         $("#actionContainer").html("");
         focusAction("tableContainer");
    });

</script>