<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin Panel</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body>
    <div class="container">
        <div id="leftbar">
            <div class="profile">
                <img src="/static/images/home/banner1.jpg" alt="" class="logo">
                <h2>Admin Panel</h2>
            </div>
            <div class="not_options">
                <i class="fa-solid fa-gauge"></i>
                <h5>Dashboard</h5>
            </div>
            <div>
                <h5 class="tittle"><i class="fa-solid fa-code-branch"></i>
                    Add brand works<i class="fa-solid fa-greater-than"></i>
                </h5>
                <ul class="dropdown options">
                    <li class="sec"><i class="fa-solid fa-plus"></i>
                        <p>Add new creator</p>
                    </li>
                    <li class="sec"><i class="fa-solid fa-plus"></i>
                        <p>Edit creator</p>
                    </li>
                    <li class="sec"><i class="fa-solid fa-plus"></i>
                        <p>Delete creator</p>
                    </li>
                </ul>
            </div>
            <div>
                <h5 class="tittle"><i class="fa-solid fa-user"></i>Add Creator<i class="fa-solid fa-greater-than"></i></h5>
                <ul class="dropdown options">
                    <li class="sec"><i class="fa-solid fa-plus"></i>
                        <p>Add new brand</p>
                    </li>
                    <li class="sec"><i class="fa-solid fa-plus"></i>
                        <p>Edit brand</p>
                    </li>
                    <li class="sec"><i class="fa-solid fa-plus"></i>
                        <p>Delete brand</p>
                    </li>
                </ul>
            </div>
            <div>
                <h5 class="tittle"><i class="fa-brands fa-intercom"></i>Customize Pages<i class="fa-solid fa-greater-than"></i></h5>
                <ul class="dropdown options">
                    <li class="sec"><i class="fa-solid fa-plus"></i>
                        <p>Edit home page</p>
                    </li>
                    <li class="sec"><i class="fa-solid fa-plus"></i>
                        <p>Edit about page</p>
                    </li>
                    <li class="sec"><i class="fa-solid fa-plus"></i>
                        <p>Edit contact page</p>
                    </li>
                </ul>
            </div>
            <div>
                <h5 class="tittle"><i class="fa-solid fa-bell-concierge"></i>Other Services<i class="fa-solid fa-greater-than"></i>
                </h5>
                <ul class="dropdown options">
                    <li class="sec"><i class="fa-solid fa-plus"></i>
                        <p>FAQ</p>
                    </li>
                    <li class="sec"><i class="fa-solid fa-plus"></i>
                        <p>DMCA</p>
                    </li>
                </ul>
            </div>
            <div class="not_options">
                <i class="fa-solid fa-gear"></i>
                <h5>Settings</h5>
            </div>
        </div>
        <div class="rightbar">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, molestiae facere incidunt minus id dicta voluptas beatae! Quidem labore tempora, enim ratione nisi vero officia eum commodi rem harum fugiat sed, cum eaque! Quis voluptate molestias consectetur cumque ex, incidunt dolores, eaque eligendi cupiditate veritatis unde. Dicta ipsa, illo impedit libero consequatur architecto nostrum voluptates quae, ipsum eaque laborum dolorem optio maxime aliquid recusandae veritatis sequi, similique quasi deleniti reiciendis magnam dolor! Omnis magnam ratione eius. Atque ducimus optio perspiciatis cumque molestiae nostrum. Quasi earum voluptatum aperiam eum voluptate voluptatem ipsam quia in autem? Iusto doloremque non, commodi culpa quam dolorem praesentium officiis molestias consequatur! Eos officiis mollitia quia a deserunt aut blanditiis labore voluptates neque aperiam quo, quasi tempora saepe repellendus esse eius quam in dolore, optio quos asperiores tenetur! Ipsam quasi alias vero? Fugiat quia ullam, blanditiis fuga perferendis cum ex aut nulla omnis mollitia cupiditate aliquid voluptate, qui ratione ipsa corporis eaque eum id voluptatem molestiae ab totam! Beatae iure praesentium pariatur voluptatem velit reiciendis, neque eos nulla repudiandae. Numquam doloribus tenetur veritatis, vero, corporis perferendis totam ea, quod rem laudantium cupiditate praesentium assumenda. Consequuntur assumenda praesentium itaque temporibus animi dicta voluptates nihil nisi ut delectus fugiat enim quaerat nulla ducimus asperiores dolor saepe, hic natus cum eos libero perferendis eius culpa. Maiores eum neque esse, molestiae, quaerat aut sequi ipsa quas, labore deleniti deserunt autem officiis aliquam unde ex voluptate necessitatibus. Inventore saepe alias veniam eligendi molestiae id officia, incidunt doloremque eum laborum distinctio reprehenderit porro magni, repudiandae cupiditate expedita hic amet quas est sequi quae nostrum ut? Laborum ea sed enim reprehenderit dolorem laudantium reiciendis nam, itaque ex, libero corrupti omnis nesciunt natus pariatur distinctio voluptas in magnam perferendis eius iure dolore, molestias explicabo? Facilis aperiam soluta sint ea suscipit impedit eum officiis exercitationem, omnis tempore ad praesentium enim rem, ab rerum id vel magni commodi dolorem nobis eos. Est, dolorum deleniti! Minus blanditiis nihil vel! Voluptates amet nulla ratione, quisquam quia pariatur officiis optio et omnis, quibusdam vitae repudiandae autem laudantium, voluptatibus repellendus. Maxime sint temporibus voluptatem repellat, iste alias sequi commodi quia, eveniet doloremque ullam numquam quo error! Ut ullam temporibus, esse obcaecati eligendi modi magnam nemo ratione, asperiores a molestiae, quos neque possimus nisi libero quibusdam cupiditate. Tenetur id ab corporis fugiat laborum. Quae at tenetur ex architecto saepe quos, velit perspiciatis exercitationem incidunt totam obcaecati voluptatibus quam amet dicta tempore sit omnis odio nobis. Voluptatum molestiae ut facere molestias totam iusto magni distinctio quam quia, eos illo. Vero mollitia, tempora veritatis ab ducimus vitae itaque pariatur atque quos! Placeat consequuntur molestiae voluptas. Sint at harum corporis ad maxime. Eius facilis adipisci unde soluta laborum veritatis, quos mollitia ea magni quas nihil amet temporibus. Cupiditate nam laudantium error est, non ab nobis excepturi culpa ratione? Accusantium architecto id eveniet unde perspiciatis, voluptatum impedit sunt, aspernatur, assumenda exercitationem eligendi corporis ullam illo esse minima ipsum ducimus nesciunt. Dolorem, placeat doloremque voluptas praesentium facilis nesciunt quos, eum in distinctio neque libero suscipit, cum cumque!
        </div>
    </div>
</body>
<script src="/public/js/dashboard.js"></script>

</html>